torch
torchvision
opencv-python
tokenizers==0.13.2
transformers==4.27.3
sentence-transformers
accelerate
ujson
pandas
wandb
ftfy
regex
tqdm
srt
IPython
kornia
gdown
pickle5
pycocoevalcap
timm
bert-score
boto3
pytube
git+https://github.com/openai/whisper.git@eff383b27b783e280c089475852ba83f20f64998
git+https://github.com/bckim92/language-evaluation.git
git+https://github.com/openai/CLIP.git
# allennlp-models==2.10.1
